.invoice.view {
	float: none;
	width: 700px;
}

.invoice-num {
	margin-bottom: 20px;  
}

.compagny .name, .client .name {
	font-size: 1.2em;
	font-weight: bold;
}

.before-product-text {
	margin-top: 2em;
	margin-bottom: 2em;
}

.after-product-text {
	margin-top: 3em;
	margin-bottom: 1em;
}

table th {
	border: 1px solid #DDDDDD;
	font-weight: bold;
}
table td {
	border: 1px solid #DDDDDD;
}